/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

header {
  width: 100%;
  display: none;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 99999;
  opacity: 0;
}

h1 {
  font-size: 160px;
  font-weight: bold;
  font-family: agencyFB;
  user-select: none;
  cursor: default;
  display: inline-block;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: pointer;
}

h3 {
  font-size: 33px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: default;
}

h4 {
  font-size: 26px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  font-family: Orkney-Medium;
  display: inline-block;
}

h6 {
  font-weight: normal;
  font-family: Orkney-Light;
  margin: 5px 0;
  line-height: 20px;
}

p {
  font-family: Orkney-Regular;
  font-size: 20px;
  line-height: 26px;
}

a {
	font-family: Orkney-Light;
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
}

img {
	max-width: 100%;
	max-height: 100%;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.trigger {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  :hover {
    animation: rotate 4s linear 0s infinite;
  }
  h2 {
    font-size: 40px;
  }
}

.container {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 0 300px;
  opacity: 0;
}

.menu {
  color: #FFF;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-left: 28px;
    li {
      width: calc(100% - 40px);
      margin: 20px;
      display: flex;
      flex: 1 0;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.content {
  flex: 1 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  position: relative;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  align-self: flex-start;
  > p {
    display: flex;
  }
  > .contact {
    display: flex;
    flex-direction: column;
  }
  h2 {
    align-self: flex-start;
    margin-bottom: 20px;
    cursor: default;
  }
}

.logo {
  h3 {
    margin-left: 6px;
  }
}

@keyframes logoBlink {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #FFF;
  }
}

.blink::after {
	content: '';
	padding-right: 1px;
	border-right-style: solid;
	border-right-width: 3px;
	animation: logoBlink 1s step-end infinite;
	margin-right: 2px;
}


.contact {
  align-self: flex-start;
  .item {
    padding: 12px 0;
    img {
      display: inline-block;
      padding: 0 12px;
      width: 80px;
    }
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  .card[value='0'] .color {
    background-color: #1cbe6f;
  }
  .card[value='1'] .color {
    background-color: #ffa52e;
  }
  .card[value='2'] .color {
    background-color: #89d0d6;
  }
  .card[value='3'] .color {
    background-color: #0065a4;
  }
  .card[value='4'] .color {
    background-color: #bf2226;
  }
  .card[value='5'] .color {
    background-color: #575757;
  }
  .card {
    width: calc(100%/3);
    position: relative;
    max-height: 341px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .color {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
    }
    .text {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }
  .card:last-child {
    margin-bottom: 60px;
  }
}

.modal[value='0']{
  background-color: #1cbe6f;
}
.modal[value='1']{
  background-color: #ffa52e;
}
.modal[value='2']{
  background-color: #89d0d6;
}
.modal[value='3']{
  background-color: #0065a4;
}
.modal[value='4']{
  background-color: #bf2226;
}
.modal[value='5']{
  background-color: #575757;
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 40%;
    max-height: 80%;
    max-width: 512px;
    object-fit: contain;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40px;
    a {
      margin: 10px 0;
      text-decoration: underline;
    }
  }
  .front {
    position: absolute;
    left: 0;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    h2 {
      cursor: pointer;
    }
  }
  .back {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);
    h2 {
      cursor: pointer;
    }
  }
}


@media (max-width: 1024px) {
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  p {
    font-size: 16px;
  }
  
  a {
    font-size: 18px; 
  }
  .card {
    height: 492px;
  }
}

@media (max-width: 768px) {
  .works .card {
    height: 364px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .contact .item img {
    width: 60px;
  }
  .card {
    height: 348px;
  }
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 23px;
  }
  .logo h3 {
    margin-top: 10px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  p {
    font-size: 14px;
  }
  
  a {
    font-size: 16px; 
  }
}
@media (max-width: 600px) {
  .contact .item img {
    width: 60px;
  }
  .works .card {
    height: 207px;
    width: 100%;
  }
  .menu {
    justify-content: center;
    ul {
      margin-left: 0;
      li {
        justify-content: center;
      }
    }
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 17px;
  }
  .logo h3 {
    margin-top: 10px;
    margin-left: 2px; 
  }
  .modal {
    flex-direction: column;
    height: auto;
    img {
      width: 90%;
      padding: 0 20px;
      margin-top: 30px;
    }
    .text {
      width: 90%;
      padding: 20px;
      margin: 0;
    }
    .front {
      margin-left: 10px;
    }
    .back {
      margin-right: 10px;
    }
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 70px;
  }
  h3 {
    font-size: 14px;
  }
}