html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: openSansCondensedBold;
  text-align: center;
}

header {
  width: 100%;
  background-color: #fff;
  height: 60px;
  text-align: center;
}

.logo {
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

img {
  height: 100%;
}

.menu {
  list-style-type: none;
  float: right;
  display: none;
  position: relative;
  float: right;
  padding-right: 8px;
  margin: 0;
  height: 100%;
}

.menu li {
  font-family: openSansCondensedBold;
  font-size: 20px;
  display: inline-block;
  padding: 16px;
  cursor: pointer;
}

.menu li:hover {
  color: #FFF;
  background-color: #000;
}

#arrow-up {
  position: absolute;
  z-index: 1;
  display: inline-block;
  right: 10px;
  bottom: 140px;
  cursor: pointer;
}

#arrow-down {
  position: absolute;
  z-index: 1;
  display: inline-block;
  bottom: 80px;
  right: 10px;
  cursor: pointer;
}

#arrow-up img, #arrow-down img {
  width: 30px;
  height: auto;
}

.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contact {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-style: solid;
  border-width: 5px;
  padding: 0 5px 5px;
}

h1 {
  font-size: 60px;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 25px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4 {
  font-family: openSansCondensedItalic;
  font-size: 15px;
  margin: 0;
}

h5, li {
  font-family: openSansCondensedLight;
  font-size: 15px;
  margin: 0;
}

ul {
  padding: 0;
}

p {
  font-size: 15px;
  margin: 0;
}

footer {
  width: 100%;
  background-color: #000;
  height: 60px;
  text-align: center;
  position: relative;
  color: #FFF;
}

footer p {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  background-color: #FFF;
}

#intro {
  background-color: #FFF;
  display: none;
  text-align: center;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#intro .img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 30px 0 15px;
}

#intro img {
  width: 500px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#intro .text-container {
  width: 80%;
  display: inline-block;
}

#career {
  background-color: #FFF;
  display: none;
  text-align: left;
}

#career .container {
  width: 90%;
}

#career .container > * {
  margin-bottom: 10px;
}

.job, .school, .project {
  margin: 6px 0;
}

#background {
  display: none;
  text-align: left;
}

#background .container {
  width: 90%;
}

#project {
  background-color: #FFF;
  display: none;
  text-align: left;
}

#project .container {
  width: 90%;
}

#skill {
  background-color: #FFF;
  display: none;
}

#skill .container {
  width: 90%;
}

#skill ul {
  list-style: none;
}

.left, .right {
  display: inline-block;
  float: left;
  width: 100%;
}

.webDev, .design, .threeD, .productivity {
  display: inline-block;
  width: 100%;
  margin: 6px;
}

@media (min-width: 600px) {
  .left, .right {
    width: 50%;
  }
  .contact {
    padding: 10px 15px 15px;
  }
  #intro .text-container {
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
  }
  #arrow-up, #arrow-down {
    padding-right: 20px;
  }
}

@media (min-width: 768px){
  .menu {
    display: inline-block;
  }
  .contact {
    padding: 15px 20px 20px;
  }
  .logo {
    float: left;
    padding-left: 20px;
  }
  #intro .text-container {
    margin-left: 20px;
  }
}

@media (min-width: 1024px){
  .main {
    max-width: 1024px;
  }
}
